<a href="https://colab.research.google.com/github/jeremontoya1555/prototipo/blob/main/casoUno.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [5]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "2eec4511",
   "metadata": {},
   "outputs": [],
   "source": [
    "import numpy as np\n",
    "import pandas as pd"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "id": "044b7449",
   "metadata": {},
   "outputs": [],
   "source": [
    "#laboratorios_loc = \"Laboratorios.csv\"\n",
    "\n",
    "#marzo21_loc = \"202103.csv\"\n",
    "#abril21_loc = \"202104.csv\"\n",
    "mayo21_loc = \"202105.csv\"\n",
    "junio21_loc = \"202106.csv\"\n",
    "julio21_loc = \"202107.csv\"\n",
    "agosto21_loc = \"202108.csv\"\n",
    "septiembre21_loc = \"202109.csv\"\n",
    "octubre21_loc = \"202110.csv\"\n",
    "noviembre21_loc = \"202111.csv\"\n",
    "diciembre21_loc = \"202112.csv\"\n",
    "enero22_loc = \"202201.csv\"\n",
    "febrero22_loc = \"202202.csv\"\n",
    "marzo22_loc = \"202203.csv\"\n",
    "abril22_loc = \"202204.csv\"\n",
    "mayo22_loc = \"202205.csv\"\n",
    "junio22_loc = \"202206.csv\"\n",
    "julio22_loc = \"202207.csv\"\n",
    "agosto22_loc = \"202208.csv\"\n",
    "septiembre22_loc = \"202209.csv\"\n",
    "octubre22_loc = \"202210.csv\"\n",
    "noviembre22_loc = \"202211.csv\"\n",
    "diciembre22_loc = \"202212.csv\"\n",
    "enero23_loc = \"202301.csv\"\n",
    "febrero23_loc = \"202302.csv\"\n",
    "marzo23_loc = \"202303.csv\"\n",
    "abril23_loc = \"202304.csv\"\n",
    "mayo23_loc = \"202305.csv\"\n",
	"junio23_loc = \"202306.csv\"\n",
    "\n",
    "#laboratorios = pd.read_csv(laboratorios_loc, sep=';', encoding='latin-1')\n",
    "mayo21 = pd.read_csv(mayo21_loc, sep=';', encoding='latin-1')\n",
    "junio21 = pd.read_csv(junio21_loc, sep=';', encoding='latin-1')\n",
    "julio21 = pd.read_csv(julio21_loc, sep=';', encoding='latin-1')\n",
    "agosto21 = pd.read_csv(agosto21_loc, sep=';', encoding='latin-1')\n",
    "septiembre21 = pd.read_csv(septiembre21_loc, sep=';', encoding='latin-1')\n",
    "octubre21 = pd.read_csv(octubre21_loc, sep=';', encoding='latin-1')\n",
    "noviembre21 = pd.read_csv(noviembre21_loc, sep=';', encoding='latin-1')\n",
    "diciembre21 = pd.read_csv(diciembre21_loc, sep=';', encoding='latin-1')\n",
    "enero22 = pd.read_csv(enero22_loc, sep=';', encoding='latin-1')\n",
    "febrero22 = pd.read_csv(febrero22_loc, sep=';', encoding='latin-1')\n",
    "marzo22 = pd.read_csv(marzo22_loc, sep=';', encoding='latin-1')\n",
    "abril22 = pd.read_csv(abril22_loc, sep=';', encoding='latin-1')\n",
    "mayo22 = pd.read_csv(mayo22_loc, sep=';', encoding='latin-1')\n",
    "junio22 = pd.read_csv(junio22_loc, sep=';', encoding='latin-1')\n",
    "julio22 = pd.read_csv(julio22_loc, sep=';', encoding='latin-1')\n",
    "agosto22 = pd.read_csv(agosto22_loc, sep=';', encoding='latin-1')\n",
    "septiembre22 = pd.read_csv(septiembre22_loc, sep=';', encoding='latin-1')\n",
    "octubre22 = pd.read_csv(octubre22_loc, sep=';', encoding='latin-1')\n",
    "noviembre22 = pd.read_csv(noviembre22_loc, sep=';', encoding='latin-1')\n",
    "diciembre22 = pd.read_csv(diciembre22_loc, sep=\";\", encoding='latin-1')\n",
    "enero23 = pd.read_csv(enero23_loc, sep=\";\", encoding='latin-1')\n",
    "febrero23 = pd.read_csv(febrero23_loc, sep=\";\", encoding='latin-1')\n",
    "marzo23 = pd.read_csv(marzo23_loc, sep=\";\", encoding='latin-1')\n",
    "abril23 = pd.read_csv(abril23_loc, sep=\";\", encoding='latin-1')\n",
    "mayo23 = pd.read_csv(mayo23_loc, sep=\";\", encoding='latin-1')\n",
	"junio23 = pd.read_csv(junio23_loc, sep=\";\", encoding='latin-1')\n",
    "\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "id": "e4dfbca4",
   "metadata": {},
   "outputs": [],
   "source": [
    "import os\n",
    "import glob"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "id": "e8ffe1ba",
   "metadata": {},
   "outputs": [],
   "source": [
    "#laboratorios = pd.DataFrame(laboratorios)\n",
    "#marzo21 = pd.DataFrame(marzo21)\n",
    "#abril21 = pd.DataFrame(abril21)\n",
    "mayo21 = pd.DataFrame(mayo21)\n",
    "junio21 = pd.DataFrame(junio21)\n",
    "julio21 = pd.DataFrame(julio21)\n",
    "agosto21 = pd.DataFrame(agosto21)\n",
    "septiembre21 = pd.DataFrame(septiembre21)\n",
    "octubre21 = pd.DataFrame(octubre21)\n",
    "noviembre21 = pd.DataFrame(noviembre21)\n",
    "diciembre21 = pd.DataFrame(diciembre21)\n",
    "enero22 = pd.DataFrame(enero22)\n",
    "febrero22 = pd.DataFrame(febrero22)\n",
    "marzo22 = pd.DataFrame(marzo22)\n",
    "abril22 = pd.DataFrame(abril22)\n",
    "mayo22 = pd.DataFrame(mayo22)\n",
    "junio22 = pd.DataFrame(junio22)\n",
    "julio22 = pd.DataFrame(julio22)\n",
    "agosto22 = pd.DataFrame(agosto22)\n",
    "septiembre22 = pd.DataFrame(septiembre22)\n",
    "octubre22 = pd.DataFrame(octubre22)\n",
    "noviembre22 = pd.DataFrame(noviembre22)\n",
    "diciembre22 = pd.DataFrame(diciembre22)\n",
    "enero23 = pd.DataFrame(enero23)\n",
    "febrero23 = pd.DataFrame(febrero23)\n",
    "marzo23 = pd.DataFrame(marzo23)\n",
    "abril23 = pd.DataFrame(abril23)\n",
    "mayo23 = pd.DataFrame(mayo23)\n"
	"junio23 = pd.DataFrame(junio23)\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "id": "2f0f0244",
   "metadata": {},
   "outputs": [],
   "source": [
    "#agosto21.Categoria = \"Categoría\"\n",
    "#septiembre21.Categoria = \"Categoría\"\n",
    "\n",
    "#septiembre21.head(2)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "id": "55dd435c",
   "metadata": {},
   "outputs": [],
   "source": [
    "#extension = 'csv'\n",
    "#all_filenames = ['marzo21', 'abril21', 'mayo21', 'junio21', 'julio21', 'agosto21', 'septiembre21', 'octubre21', \n",
    "#                 'noviembre21', 'diciembre21', 'enero22', 'febrero22', 'marzo22', 'abril22', 'mayo22']"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "id": "16eecfed",
   "metadata": {},
   "outputs": [],
   "source": [
    "#combine all files in the list\n",
    "combined_csv = pd.concat([mayo21, junio21, julio21, agosto21, septiembre21, octubre21, noviembre21, \n",
    "                         diciembre21, enero22, febrero22, marzo22, abril22, mayo22, junio22, julio22, agosto22, \n",
    "                          septiembre22, octubre22, noviembre22, diciembre22, enero23, febrero23, marzo23, abril23, mayo23, junio23], axis=0)\n",
    "\n",
    "#combined_csv = combined_csv.merge(laboratorios, how='inner', on='IdQuantio')\n",
    "    \n",
    "#export to csv\n",
    "combined_csv.to_csv(\"combined_csv.csv\", index=False, encoding='utf-8-sig')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "id": "c7fb6dcb",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(10558358, 21)"
      ]
     },
     "execution_count": 17,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "combined_csv.shape"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 18,
   "id": "cd02a3f4",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Doc</th>\n",
       "      <th>Documento</th>\n",
       "      <th>Fecha</th>\n",
       "      <th>Hora</th>\n",
       "      <th>Usuario</th>\n",
       "      <th>Sucursal</th>\n",
       "      <th>Apellido y nombre/Razón Social</th>\n",
       "      <th>DNI</th>\n",
       "      <th>CUIT</th>\n",
       "      <th>Total</th>\n",
       "      <th>...</th>\n",
       "      <th>Cantidad</th>\n",
       "      <th>Entero o fraccionado</th>\n",
       "      <th>Codigo barra Plex</th>\n",
       "      <th>Troquel</th>\n",
       "      <th>Obra Social Detalle</th>\n",
       "      <th>IdQuantio</th>\n",
       "      <th>TipoVenta</th>\n",
       "      <th>Cant2</th>\n",
       "      <th>Cat</th>\n",
       "      <th>Subr</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>488955</th>\n",
       "      <td>NC</td>\n",
       "      <td>0097-00002795</td>\n",
       "      <td>31/5/2023</td>\n",
       "      <td>22:37:32</td>\n",
       "      <td>922.0</td>\n",
       "      <td>24</td>\n",
       "      <td>COLOMBINI, ROSA</td>\n",
       "      <td>14629882.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>-586,6964</td>\n",
       "      <td>...</td>\n",
       "      <td>-1</td>\n",
       "      <td>C</td>\n",
       "      <td>7794626999789</td>\n",
       "      <td>8116762.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>3.011446e+09</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Mundo Bebe</td>\n",
       "      <td>Pañales bebe</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>488956</th>\n",
       "      <td>NC</td>\n",
       "      <td>0097-00002796</td>\n",
       "      <td>31/5/2023</td>\n",
       "      <td>22:56:55</td>\n",
       "      <td>922.0</td>\n",
       "      <td>24</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>-2531,86</td>\n",
       "      <td>...</td>\n",
       "      <td>-1</td>\n",
       "      <td>C</td>\n",
       "      <td>7795373011816</td>\n",
       "      <td>4029336.0</td>\n",
       "      <td>NUEVA VILLA</td>\n",
       "      <td>1.004600e+09</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Farmacia</td>\n",
       "      <td>Farmacia</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>2 rows × 21 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       Doc      Documento      Fecha      Hora  Usuario  Sucursal  \\\n",
       "488955  NC  0097-00002795  31/5/2023  22:37:32    922.0        24   \n",
       "488956  NC  0097-00002796  31/5/2023  22:56:55    922.0        24   \n",
       "\n",
       "       Apellido y nombre/Razón Social         DNI CUIT     Total   ...  \\\n",
       "488955                COLOMBINI, ROSA  14629882.0  NaN  -586,6964  ...   \n",
       "488956                            NaN         NaN  NaN   -2531,86  ...   \n",
       "\n",
       "       Cantidad  Entero o fraccionado  Codigo barra Plex    Troquel  \\\n",
       "488955       -1                      C     7794626999789  8116762.0   \n",
       "488956       -1                      C     7795373011816  4029336.0   \n",
       "\n",
       "        Obra Social Detalle     IdQuantio  TipoVenta Cant2         Cat  \\\n",
       "488955                  NaN  3.011446e+09        NaN   NaN  Mundo Bebe   \n",
       "488956          NUEVA VILLA  1.004600e+09        NaN   NaN    Farmacia   \n",
       "\n",
       "                Subr  \n",
       "488955  Pañales bebe  \n",
       "488956      Farmacia  \n",
       "\n",
       "[2 rows x 21 columns]"
      ]
     },
     "execution_count": 18,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "combined_csv.tail(2)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 19,
   "id": "dbe18308",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "UPRISING S.A.                            7164\n",
       "PEQUEÑA OBRA DE LA DIVINA PROVIDENCIA    6229\n",
       "GONZALEZ, MARIEL                         4468\n",
       "CUENTA REPARTO SA4                       3558\n",
       "CUENTA REPARTO SA1                       2400\n",
       "                                         ... \n",
       "ASPITIA, JOSEFINA                           1\n",
       "DI LEANDRO, NATALIA                         1\n",
       "BUSTAMANTE, BETIANA                         1\n",
       "BIGA, HUGO                                  1\n",
       "MONICA , BUSTOS                             1\n",
       "Name: Apellido y nombre/Razón Social, Length: 134405, dtype: int64"
      ]
     },
     "execution_count": 19,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "combined_csv['Apellido y nombre/Razón Social'].value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "id": "850ce9a9",
   "metadata": {},
   "outputs": [],
   "source": [
    "#print ((sum(pd.isnull(combined_csv['Categoría'])))/combined_csv.shape[0])\n",
    "#print ((sum(pd.isnull(combined_csv['Categoria'])))/combined_csv.shape[0])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 21,
   "id": "b1a7e877",
   "metadata": {},
   "outputs": [],
   "source": [
    "#mask_null_Categoria = combined_csv['Categoria'].isnull()\n",
    "\n",
    "#combined_csv.loc[mask_null_Categoria, ['Descripcion', 'Categoría']]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 22,
   "id": "4e7d8f03",
   "metadata": {},
   "outputs": [],
   "source": [
    "#mask_null_Categoria = combined_csv['Categoría'].isnull()\n",
    "\n",
    "#combined_csv.loc[mask_null_Categoria, ['Fecha','Descripcion', 'Categoria']].sample(10)"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.9.7"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

{'cells': [{'cell_type': 'code',
   'execution_count': 10,
   'id': '2eec4511',
   'metadata': {},
   'outputs': [],
   'source': ['import numpy as np\n', 'import pandas as pd']},
  {'cell_type': 'code',
   'execution_count': 11,
   'id': '044b7449',
   'metadata': {},
   'outputs': [],
   'source': ['#laboratorios_loc = "Laboratorios.csv"\n',
    '\n',
    '#marzo21_loc = "202103.csv"\n',
    '#abril21_loc = "202104.csv"\n',
    'mayo21_loc = "202105.csv"\n',
    'junio21_loc = "202106.csv"\n',
    'julio21_loc = "202107.csv"\n',
    'agosto21_loc = "202108.csv"\n',
    'septiembre21_loc = "202109.csv"\n',
    'octubre21_loc = "202110.csv"\n',
    'noviembre21_loc = "202111.csv"\n',
    'diciembre21_loc = "202112.csv"\n',
    'enero22_loc = "202201.csv"\n',
    'febrero22_loc = "202202.csv"\n',
    'marzo22_loc = "202203.csv"\n',
    'abril22_loc = "202204.csv"\n',
    'mayo22_loc = "202205.csv"\n',
    'junio22_loc = "202206.csv"\n',
    'julio22_loc = "202207.csv"\n',
    'agosto22_loc = "202208.csv"\n',
    'septiembre22_loc = "202209.csv"\n',
    'octubre22_loc = "202210.csv"\n',
    'noviembre22_loc = "202211.csv"\n',
    'diciembre22_loc = "202212.csv"\n',
    'enero23_loc = "202301.csv"\n',
    'febrero23_loc = "202302.csv"\n',
    'marzo23_loc = "202303.csv"\n',
    'abril23_loc = "202304.csv"\n',
    'mayo23_loc = "202305.csv"\n',
    'junio23_loc = "202306.csv"\n',
    '\n',
    "#laboratorios = pd.read_csv(laboratorios_loc, sep=';', encoding='latin-1')\n",
    "mayo21 = pd.read_csv(mayo21_loc, sep=';', encoding='latin-1')\n",
    "junio21 = pd.read_csv(junio21_loc, sep=';', encoding='latin-1')\n",
    "julio21 = pd.read_csv(julio21_loc, sep=';', encoding='latin-1')\n",
    "agosto21 = pd.read_csv(agosto21_loc, sep=';', encoding='latin-1')\n",
    "septiembre21 = pd.read_csv(septiembre21_loc, sep=';', encoding='latin-1')\n",
    "octubre21 = pd.read_csv(octubre21_loc, sep=';', encoding='latin-1')\n",
    "noviembre21 = pd.read_csv(noviembre21_loc, sep=';', encoding='latin-1')\n",
    "diciembre21 = pd.read_csv(diciembre21_loc, sep=';', encoding='latin-1')\n",
    "enero22 = pd.read_csv(enero22_loc, sep=';', encoding='latin-1')\n",
    "febrero22 = pd.read_csv(febrero22_loc, sep=';', encoding='latin-1')\n",
    "marzo22 = pd.read_csv(marzo22_loc, sep=';', encoding='latin-1')\n",
    "abril22 = pd.read_csv(abril22_loc, sep=';', encoding='latin-1')\n",
    "mayo22 = pd.read_csv(mayo22_loc, sep=';', encoding='latin-1')\n",
    "junio22 = pd.read_csv(junio22_loc, sep=';', encoding='latin-1')\n",
    "julio22 = pd.read_csv(julio22_loc, sep=';', encoding='latin-1')\n",
    "agosto22 = pd.read_csv(agosto22_loc, sep=';', encoding='latin-1')\n",
    "septiembre22 = pd.read_csv(septiembre22_loc, sep=';', encoding='latin-1')\n",
    "octubre22 = pd.read_csv(octubre22_loc, sep=';', encoding='latin-1')\n",
    "noviembre22 = pd.read_csv(noviembre22_loc, sep=';', encoding='latin-1')\n",
    'diciembre22 = pd.read_csv(diciembre22_loc, sep=";", encoding=\'latin-1\')\n',
    'enero23 = pd.read_csv(enero23_loc, sep=";", encoding=\'latin-1\')\n',
    'febrero23 = pd.read_csv(febrero23_loc, sep=";", encoding=\'latin-1\')\n',
    'marzo23 = pd.read_csv(marzo23_loc, sep=";", encoding=\'latin-1\')\n',
    'abril23 = pd.read_csv(abril23_loc, sep=";", encoding=\'latin-1\')\n',
    'mayo23 = pd.read_csv(mayo23_loc, sep=";", encoding=\'latin-1\')\n',
    'junio23 = pd.read_csv(junio23_loc, sep=";", encoding=\'latin-1\')\n',
    '\n']},
  {'cell_type': 'code',
   'execution_count': 12,
   'id': 'e4dfbca4',
   'metadata': {},
   'outputs': [],
   'source': ['import os\n', 'import glob']},
  {'cell_type': 'code',
   'execution_count': 13,
   'id': 'e8ffe1ba',
   'metadata': {},
   'outputs': [],
   'source': ['#laboratorios = pd.DataFrame(laboratorios)\n',
    '#marzo21 = pd.DataFrame(marzo21)\n',
    '#abril21 = pd.DataFrame(abril21)\n',
    'mayo21 = pd.DataFrame(mayo21)\n',
    'junio21 = pd.DataFrame(junio21)\n',
    'julio21 = pd.DataFrame(julio21)\n',
    'agosto21 = pd.DataFrame(agosto21)\n',
    'septiembre21 = pd.DataFrame(septiembre21)\n',
    'octubre21 = pd.DataFrame(octubre21)\n',
    'noviembre21 = pd.DataFrame(noviembre21)\n',
    'diciembre21 = pd.DataFrame(diciembre21)\n',
    'enero22 = pd.DataFrame(enero22)\n',
    'febrero22 = pd.DataFrame(febrero22)\n',
    'marzo22 = pd.DataFrame(marzo22)\n',
    'abril22 = pd.DataFrame(abril22)\n',
    'mayo22 = pd.DataFrame(mayo22)\n',
    'junio22 = pd.DataFrame(junio22)\n',
    'julio22 = pd.DataFrame(julio22)\n',
    'agosto22 = pd.DataFrame(agosto22)\n',
    'septiembre22 = pd.DataFrame(septiembre22)\n',
    'octubre22 = pd.DataFrame(octubre22)\n',
    'noviembre22 = pd.DataFrame(noviembre22)\n',
    'diciembre22 = pd.DataFrame(diciembre22)\n',
    'enero23 = pd.DataFrame(enero23)\n',
    'febrero23 = pd.DataFrame(febrero23)\n',
    'marzo23 = pd.DataFrame(marzo23)\n',
    'abril23 = pd.DataFrame(abril23)\n',
    'mayo23 = pd.DataFrame(mayo23)\njunio23 = pd.DataFrame(junio23)\n']},
  {'cell_type': 'code',
   'execution_count': 14,
   'id': '2f0f0244',
   'metadata': {},
   'outputs': [],
   'source': ['#agosto21.Categoria = "Categoría"\n',
    '#septiembre21.Categoria = "Categoría"\n',
    '\n',
    '#septiembre21.head(2)']},
  {'cell_type': 'code',
   'execution_count': 15,
   'id': '55dd435c',
   'metadata': {},
   'outputs': [],
   'source': ["#extension = 'csv'\n",
    "#all_filenames = ['marzo21', 'abril21', 'mayo21', 'junio21', 'julio21', 'agosto21', 'septiembre21', 'octubre21', \n",
    "#                 'noviembre21', 'diciembre21', 'enero22', 'febrero22', 'marzo22', 'abril22', 'mayo22']"]},
  {'cell_type': 'code',
   'execution_count': 16,
   'id': '16eecfed',
   'metadata': {},
   'outputs': [],
   'source': ['#combine all files in the list\n',
    'combined_csv = pd.concat([mayo21, junio21, julio21, agosto21, septiembre21, octubre21, noviembre21, \n',
    '                         diciembre21, enero22, febrero22, marzo22, abril22, mayo22, junio22, julio22, agosto22, \n',
    '                          septiembre22, octubre22, noviembre22, diciembre22, enero23, febrero23, marzo23, abril23, mayo23, junio23], axis=0)\n',
    '\n',
    "#combined_csv = combined_csv.merge(laboratorios, how='inner', on='IdQuantio')\n",
    '    \n',
    '#export to csv\n',
    'combined_csv.to_csv("combined_csv.csv", index=False, encoding=\'utf-8-sig\')']},
  {'cell_type': 'code',
   'execution_count': 17,
   'id': 'c7fb6dcb',
   'metadata': {},
   'outputs': [{'data': {'text/plain': ['(10558358, 21)']},
     'execution_count': 17,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['combined_csv.shape']},
  {'cell_type': 'code',
   'execution_count': 18,
   'id': 'cd02a3f4',
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>Doc</th>\n',
       '      <th>Documento</th>\n',
       '      <th>Fecha</th>\n',
       '      <th>Hora</th>\n',
       '      <th>Usuario</th>\n',
       '      <th>Sucursal</th>\n',
       '      <th>Apellido y nombre/Razón Social</th>\n',
       '      <th>DNI</th>\n',
       '      <th>CUIT</th>\n',
       '      <th>Total</th>\n',
       '      <th>...</th>\n',
       '      <th>Cantidad</th>\n',
       '      <th>Entero o fraccionado</th>\n',
       '      <th>Codigo barra Plex</th>\n',
       '      <th>Troquel</th>\n',
       '      <th>Obra Social Detalle</th>\n',
       '      <th>IdQuantio</th>\n',
       '      <th>TipoVenta</th>\n',
       '      <th>Cant2</th>\n',
       '      <th>Cat</th>\n',
       '      <th>Subr</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>488955</th>\n',
       '      <td>NC</td>\n',
       '      <td>0097-00002795</td>\n',
       '      <td>31/5/2023</td>\n',
       '      <td>22:37:32</td>\n',
       '      <td>922.0</td>\n',
       '      <td>24</td>\n',
       '      <td>COLOMBINI, ROSA</td>\n',
       '      <td>14629882.0</td>\n',
       '      <td>NaN</td>\n',
       '      <td>-586,6964</td>\n',
       '      <td>...</td>\n',
       '      <td>-1</td>\n',
       '      <td>C</td>\n',
       '      <td>7794626999789</td>\n',
       '      <td>8116762.0</td>\n',
       '      <td>NaN</td>\n',
       '      <td>3.011446e+09</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>Mundo Bebe</td>\n',
       '      <td>Pañales bebe</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>488956</th>\n',
       '      <td>NC</td>\n',
       '      <td>0097-00002796</td>\n',
       '      <td>31/5/2023</td>\n',
       '      <td>22:56:55</td>\n',
       '      <td>922.0</td>\n',
       '      <td>24</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>-2531,86</td>\n',
       '      <td>...</td>\n',
       '      <td>-1</td>\n',
       '      <td>C</td>\n',
       '      <td>7795373011816</td>\n',
       '      <td>4029336.0</td>\n',
       '      <td>NUEVA VILLA</td>\n',
       '      <td>1.004600e+09</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>Farmacia</td>\n',
       '      <td>Farmacia</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '<p>2 rows × 21 columns</p>\n',
       '</div>'],
      'text/plain': ['       Doc      Documento      Fecha      Hora  Usuario  Sucursal  \\\n',
       '488955  NC  0097-00002795  31/5/2023  22:37:32    922.0        24   \n',
       '488956  NC  0097-00002796  31/5/2023  22:56:55    922.0        24   \n',
       '\n',
       '       Apellido y nombre/Razón Social         DNI CUIT     Total   ...  \\\n',
       '488955                COLOMBINI, ROSA  14629882.0  NaN  -586,6964  ...   \n',
       '488956                            NaN         NaN  NaN   -2531,86  ...   \n',
       '\n',
       '       Cantidad  Entero o fraccionado  Codigo barra Plex    Troquel  \\\n',
       '488955       -1                      C     7794626999789  8116762.0   \n',
       '488956       -1                      C     7795373011816  4029336.0   \n',
       '\n',
       '        Obra Social Detalle     IdQuantio  TipoVenta Cant2         Cat  \\\n',
       '488955                  NaN  3.011446e+09        NaN   NaN  Mundo Bebe   \n',
       '488956          NUEVA VILLA  1.004600e+09        NaN   NaN    Farmacia   \n',
       '\n',
       '                Subr  \n',
       '488955  Pañales bebe  \n',
       '488956      Farmacia  \n',
       '\n',
       '[2 rows x 21 columns]']},
     'execution_count': 18,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['combined_csv.tail(2)']},
  {'cell_type': 'code',
   'execution_count': 19,
   'id': 'dbe18308',
   'metadata': {},
   'outputs': [{'data': {'text/plain': ['UPRISING S.A.                            7164\n',
       'PEQUEÑA OBRA DE LA DIVINA PROVIDENCIA    6229\n',
       'GONZALEZ, MARIEL                         4468\n',
       'CUENTA REPARTO SA4                       3558\n',
       'CUENTA REPARTO SA1                       2400\n',
       '                                         ... \n',
       'ASPITIA, JOSEFINA                           1\n',
       'DI LEANDRO, NATALIA                         1\n',
       'BUSTAMANTE, BETIANA                         1\n',
       'BIGA, HUGO                                  1\n',
       'MONICA , BUSTOS                             1\n',
       'Name: Apellido y nombre/Razón Social, Length: 134405, dtype: int64']},
     'execution_count': 19,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ["combined_csv['Apellido y nombre/Razón Social'].value_counts()"]},
  {'cell_type': 'code',
   'execution_count': 20,
   'id': '850ce9a9',
   'metadata': {},
   'outputs': [],
   'source': ["#print ((sum(pd.isnull(combined_csv['Categoría'])))/combined_csv.shape[0])\n",
    "#print ((sum(pd.isnull(combined_csv['Categoria'])))/combined_csv.shape[0])"]},
  {'cell_type': 'code',
   'execution_count': 21,
   'id': 'b1a7e877',
   'metadata': {},
   'outputs': [],
   'source': ["#mask_null_Categoria = combined_csv['Categoria'].isnull()\n",
    '\n',
    "#combined_csv.loc[mask_null_Categoria, ['Descripcion', 'Categoría']]"]},
  {'cell_type': 'code',
   'execution_count': 22,
   'id': '4e7d8f03',
   'metadata': {},
   'outputs': [],
   'source': ["#mask_null_Categoria = combined_csv['Categoría'].isnull()\n",
    '\n',
    "#combined_csv.loc[mask_null_Categoria, ['Fecha','Descripcion', 'Categoria']].sample(10)"]}],
 'metadata': {'kernelspec': {'display_name': 'Python 3 (ipykernel)',
   'language': 'python',
   'name': 'python3'},
  'language_info': {'codemirror_mode': {'name': 'ipython', 'version': 3},
   'file_extension': '.py',
   'mimetype': 'text/x-python',
   'name': 'python',
   'nbconvert_exporter': 'python',
   'pygments_lexer': 'ipython3',
   'version': '3.9.7'}},
 'nbformat': 4,
 'nbformat_minor': 5}